<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myy.apps.cms.dao.extend.UserExtendMapper">
  <select id="selectById" resultMap="BaseUserExtendResultMap">
    SELECT *
    FROM cms_user
    WHERE id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseUserExtendResultMap">
    SELECT *
    FROM cms_user
  </select>

  <select id="selectByNameAndPassword" resultMap="BaseUserExtendResultMap">
    SELECT * FROM cms_user
    WHERE USERNAME=#{param1,jdbcType=VARCHAR} AND password=#{param2,jdbcType=VARCHAR}
  </select>

  <resultMap
          id="BaseUserExtendResultMap"
          type="com.myy.apps.cms.bean.extend.UserExtend"
          extends="com.myy.apps.cms.dao.UserMapper.BaseResultMap">
    <collection property="roles" column="id" select="com.myy.apps.cms.dao.extend.RoleExtendMapper.selectByUserId" ></collection>
  </resultMap>

</mapper>